<div ng-include="'/partials/navbar.html'"></div>
<div class="row">
  <div class="col-xs-12 text-center">
    <h1>Login</h1>
  </div>
  <div class="col-xs-12 text-center">
    <ul>
      <li class="col-xs-12 col-sm-12" style="margin-top:10px; margin-bottom:10px">
        <a class="btn btn-info" href="/api/auth/twitter" target="_self" style="width:200px"><span
          class="fa fa-twitter"></span> Twitterでログイン</a>
      </li>
      <li class="col-xs-12 col-sm-12" style="margin-top:10px; margin-bottom:10px">
        <a class="btn btn-primary" href="/api/auth/facebook" target="_self" style="width:200px"><span
          class="fa fa-facebook"></span> Facebookでログイン</a>
      </li>
      <li class="col-xs-12 col-sm-12" style="margin-top:10px; margin-bottom:10px">
        <a class="btn btn-danger" href="/api/auth/google" target="_self" style="width:200px"><span
          class="fa fa-google-plus"></span> Google+でログイン</a>
      </li>
    </ul>
  </div>
</div>
